
.frame-child,
.frame-item {
  position: absolute;
  left: 0;
  border-radius: 50%;
}
.frame-child {
  top: 0;
  background-color: rgba(15, 124, 131, 0.62);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frame-item {
  top: 4px;
  background-color: #fff;
  width: 31px;
  height: 31px;
  z-index: 2;
}
.ellipse-parent {
  position: absolute;
  top: 18px;
  left: 27px;
  width: 43px;
  height: 43px;
}
.frame-inner {
  height: 31px;
  width: 31px;
  position: relative;
}
.cv-hasil-karya {
  position: relative;
  text-shadow: 3.5px 0 0#fff, 0 3.5px 0#fff, -3.5px 0 0#fff, 0-3.5px 0#fff;
  white-space: nowrap;
  z-index: 3;
}
.cv-hasil-karya-wrapper,
.vector-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cv-hasil-karya-wrapper {
  flex-direction: column;
  padding: 14px 0 0;
}
.vector-parent {
  position: absolute;
  top: 19px;
  left: 16px;
  flex-direction: row;
  gap: 5px;
}
.home1 {
  text-decoration: none;
  position: relative;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  color: #135155;
}
.tentang-kami {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 105px;
  white-space: nowrap;
}
.home-nav1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
}
.produk {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 55px;
}
.home-nav2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
}
.layanan {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 64px;
  white-space: nowrap;
}
.frame-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.home-nav-parent,
.service-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.service-nav {
  padding: 12px 16px;
}
.home-nav-parent {
  max-width: 100%;
}
.masuk {
  text-decoration: none;
  height: 23px;
  width: 53px;
  position: relative;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 53px;
}
.frame-group,
.masuk-wrapper {
  display: flex;
  flex-direction: row;
}
.masuk-wrapper {
  background-color: #135155;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  color: #fff;
  font-family: "Jeko DEMO";
}
.frame-group {
  position: absolute;
  top: 16px;
  left: 434px;
  width: 828px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
  color: #4a606b;
  font-family: Inter;
}
.frame-parent {
  height: 79px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.home-inner {
  margin-right: -1px;
  position: fixed;
  align-self: stretch;
  box-shadow: 0 25px 25px rgba(35, 35, 35, 0.04);
  backdrop-filter: blur(56px);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 80px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #0f7c83;
  font-family: "Times New Roman";
}

.frame-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.jasa-konstruksi {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 34px);
}
.hero-title {
  width: 431px;
  border-radius: 100px;
  background-color: rgba(250, 187, 5, 0.04);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 26px;
  box-sizing: border-box;
  gap: 10px;
  white-space: nowrap;
  max-width: 100%;
  text-align: center;
}
.tentang-cv-hasil {
  margin: 0;
  align-self: stretch;
  height: 57px;
  position: relative;
  font-size: 40px;
  font-weight: 800;
  font-family: inherit;
  color: #171717;
  display: inline-block;
}
.cv-hasil-karya1,
.kami-juga-sangat,
.kami-selalu-mengutamakan {
  margin: 0;
}
.cv-hasil-karya-container1 {
  width: 100%;
}
.cv-hasil-karya-container {
  width: 1238px;
  position: relative;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter;
  color: #4a606b;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.hero-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
  max-width: 100%;
}
.playcircle-icon {
  height: 91px;
  width: 91px;
  position: relative;
}
.play-circle-button,
.play-circle-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.play-circle-button {
  height: 123px;
  width: 123px;
  backdrop-filter: blur(16px);
  border-radius: 120px;
  background-color: rgba(51, 51, 51, 0.4);
  padding: 16px;
  box-sizing: border-box;
}
.play-circle-button-wrapper {
  align-self: stretch;
  padding: 86.5px 38px 86.5px 20px;
  background-image: url(./public/frame-211@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.hero-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 56px;
  max-width: 100%;
}
.menjadi-perusahaan-jasa,
.misi {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.misi {
  margin: 0;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  min-height: 80px;
}
.menjadi-perusahaan-jasa {
  height: 113px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter;
  color: #4a606b;
  flex-shrink: 0;
}
.vector-icon {
  width: 473px;
  height: 244.5px;
  position: absolute;
  margin: 0 !important;
  top: -21.5px;
  left: 45px;
  z-index: 1;
}
.component-12,
.misi-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.misi-parent {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  gap: 8px;
}
.component-12 {
  width: 542px;
  background-color: #fff;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
  min-width: 542px;
  max-width: 100%;
}
.misi1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-height: 80px;
}
.mepertahankan-kualitas-produk,
.selalu-mengutamakan-keselamata1 {
  margin-bottom: 0;
}
.selalu-mengutamakan-keselamata {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 21px;
}
.selalu-mengutamakan-keselamata-container {
  height: 113px;
  position: relative;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-child1 {
  width: 473px;
  height: 244.5px;
  position: absolute;
  margin: 0 !important;
  top: -19.5px;
  left: 93px;
  z-index: 1;
}
.misi-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  gap: 8px;
}
.component-13,
.component-9 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.component-9 {
  width: 590px;
  background-color: #0f7c83;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  min-width: 590px;
  color: #fbfbfb;
}
.component-13 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 0;
  gap: 20px;
  font-size: 56px;
  color: #0d1a36;
}
.nilai-perusahaan-kami {
  margin: 0;
  align-self: stretch;
  height: 57px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.nilai-perusahaan-menjadi {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Inter;
  color: #4a606b;
}
.values-description {
  width: 632px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  min-width: 632px;
  max-width: 100%;
}
.iconlycurvedbulk2-user {
  height: 80px;
  width: 80px;
  position: relative;
}
.safety-icon {
  height: 128px;
  width: 128px;
  border-radius: 100px;
  background-color: rgba(15, 124, 131, 0.02);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
  min-width: 128px;
}
.keselamatan-dan-kesehatan {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-width: 164px;
  min-height: 68px;
}
.safety,
.values-content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.safety {
  width: 450px;
  border-left: 2px solid #ffc51e;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
  gap: 4px;
  min-width: 450px;
  font-size: 24px;
  color: #0f7c83;
}
.values-content {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 19px;
  gap: 20px;
}
.iconlysharpbulkstar-child {
  height: 91.9px;
  width: 91.9px;
  position: relative;
}
.iconlysharpbulkstar {
  width: 128px;
  height: 128px;
  border-radius: 100px;
  background-color: rgba(15, 124, 131, 0.02);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 18.1px 17px 18px 18px;
  box-sizing: border-box;
}
.integritas {
  margin: 0;
  align-self: stretch;
  height: 34px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.values-icons {
  flex: 1;
  border-top: 2px solid #ffc51e;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 34px 16px 37px;
  gap: 4px;
  min-width: 217px;
  max-width: 290px;
}
.group-icon {
  height: 72.5px;
  width: 72px;
  position: relative;
}
.values-icons-inner {
  width: 128px;
  height: 128px;
  border-radius: 100px;
  background-color: rgba(15, 124, 131, 0.02);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 27.8px 28px 27.7px;
  box-sizing: border-box;
}
.kualitas {
  margin: 0;
  align-self: stretch;
  height: 34px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.values-icons1 {
  flex: 1;
  border-top: 2px solid #ffc51e;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 34px 16px 37px;
  gap: 4px;
  min-width: 217px;
  max-width: 290px;
}
.iconlyregularbulk3-user {
  height: 80px;
  width: 80px;
  position: relative;
}
.iconlyregularbulk3-user-wrapper {
  width: 128px;
  height: 128px;
  border-radius: 100px;
  background-color: rgba(15, 124, 131, 0.02);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
}
.kepuasan-pelanggan {
  margin: 0;
  align-self: stretch;
  height: 34px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.values-icons2 {
  flex: 0.9767;
  border-top: 2px solid #ffc51e;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 34px 19px 37px;
  gap: 4px;
  min-width: 217px;
  max-width: 290px;
}
.frame-child2 {
  height: 88px;
  width: 88px;
  position: relative;
}
.values-icons-child {
  width: 128px;
  height: 128px;
  border-radius: 100px;
  background-color: rgba(15, 124, 131, 0.02);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}
.inovasi {
  margin: 0;
  align-self: stretch;
  height: 34px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.values-icons3 {
  flex: 1;
  border-top: 2px solid #ffc51e;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 34px 16px 37px;
  gap: 4px;
  min-width: 217px;
  max-width: 290px;
}
.component-14,
.values-grid {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.values-grid {
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 32px;
  text-align: center;
  font-size: 24px;
  color: #0f7c83;
}
.component-14 {
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.pertanyaan-yang-sering {
  margin: 0;
  align-self: stretch;
  height: 57px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.berikut-beberapa-pertanyaan {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Inter;
  color: #4a606b;
}
.f-a-q-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.bagaimana-proses-kerja {
  width: 533px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-child3 {
  height: 24px;
  width: 24px;
  position: relative;
}
.f-a-q-items,
.f-a-q-items-inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.f-a-q-items-inner {
  height: 32px;
  width: 32px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.13);
  justify-content: center;
  padding: 4px;
}
.f-a-q-items {
  align-self: stretch;
  background-color: #0f7c83;
  border: 4px solid rgba(239, 239, 239, 0.1);
  justify-content: space-between;
  padding: 11px 16px;
  max-width: 100%;
  gap: 20px;
}
.apa-jenis-layanan {
  width: 1176px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.frame-child4 {
  height: 24px;
  width: 24px;
  position: relative;
}
.f-a-q-items-child,
.f-a-q-items1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.f-a-q-items-child {
  height: 32px;
  width: 32px;
  border-radius: 100px;
  background-color: rgba(15, 124, 131, 0.35);
  justify-content: center;
  padding: 4px;
}
.f-a-q-items1 {
  align-self: stretch;
  background-color: #fff;
  border: 4px solid rgba(15, 124, 131, 0.19);
  justify-content: space-between;
  padding: 11px 12px;
  row-gap: 20px;
  max-width: 100%;
  gap: 0;
  color: #0f7c83;
}
.apakah-perusahaan-anda {
  width: 1176px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.frame-child5 {
  height: 24px;
  width: 24px;
  position: relative;
}
.f-a-q-items2,
.frame-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-div {
  height: 32px;
  width: 32px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.13);
  justify-content: center;
  padding: 4px;
}
.f-a-q-items2 {
  align-self: stretch;
  background-color: #0f7c83;
  border: 4px solid rgba(239, 239, 239, 0.1);
  justify-content: space-between;
  padding: 11px 12px;
  row-gap: 20px;
  max-width: 100%;
  gap: 0;
}
.berapa-lama-pengalaman {
  width: 1176px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.frame-child6 {
  height: 24px;
  width: 24px;
  position: relative;
}
.f-a-q-items-inner1,
.f-a-q-items3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.f-a-q-items-inner1 {
  height: 32px;
  width: 32px;
  border-radius: 100px;
  background-color: rgba(15, 124, 131, 0.35);
  justify-content: center;
  padding: 4px;
}
.f-a-q-items3 {
  align-self: stretch;
  background-color: #fff;
  border: 4px solid rgba(15, 124, 131, 0.19);
  justify-content: space-between;
  padding: 11px 12px;
  row-gap: 20px;
  max-width: 100%;
  gap: 0;
  color: #0f7c83;
}
.apakah-anda-menyediakan {
  width: 1176px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.frame-child7 {
  height: 24px;
  width: 24px;
  position: relative;
}
.f-a-q-items-inner2,
.f-a-q-items4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.f-a-q-items-inner2 {
  height: 32px;
  width: 32px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.13);
  justify-content: center;
  padding: 4px;
}
.f-a-q-items4 {
  align-self: stretch;
  background-color: #0f7c83;
  border: 4px solid rgba(239, 239, 239, 0.1);
  justify-content: space-between;
  padding: 11px 12px;
  row-gap: 20px;
  max-width: 100%;
  gap: 0;
}
.f-a-q-list {
  align-self: stretch;
  align-items: flex-start;
  gap: 32px;
  font-size: 16px;
  color: #fff;
}
.component-15,
.f-a-q-list,
.values {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.component-15 {
  width: 1240px;
  align-items: center;
  padding: 0 0 102px;
  box-sizing: border-box;
  gap: 32px;
}
.values {
  align-self: stretch;
  align-items: flex-start;
  gap: 80px;
  font-size: 40px;
  color: #171717;
}
.home1,
.title {
  position: relative;
}
.title {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 33px;
  font-weight: 600;
  font-family: inherit;
}
.home1 {
  width: 471px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #4a606b;
  display: inline-block;
  max-width: 100%;
}
.home-link {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.contact-icons-child {
  height: 24px;
  width: 24px;
  position: relative;
}
.contact-icons {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background-color: #eff2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.home2 {
  width: 430px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
}
.contact-items {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: 8px;
  max-width: 100%;
}
.phonecall-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.phonecall-wrapper {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background-color: #eff2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
}
.home3 {
  position: relative;
  display: inline-block;
  min-width: 103px;
}
.contact,
.contact-items1,
.footer-nav {
  display: flex;
  justify-content: flex-start;
}
.contact-items1 {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.contact,
.footer-nav {
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.contact {
  width: 412px;
  gap: 24px;
  font-size: 14px;
  color: #4a606b;
}
.footer-nav {
  flex: 1;
  gap: 19px;
  min-width: 337px;
}
.footer-top-child,
.footer-top-item {
  height: 212px;
  width: 314px;
  object-fit: contain;
}
.footer-content,
.footer-top,
.hasil-karya-all {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.footer-top {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 1px;
  box-sizing: border-box;
  gap: 35px;
  max-width: 100%;
}
.footer-content,
.hasil-karya-all {
  align-items: center;
}
.footer-content {
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  max-width: 100%;
}
.hasil-karya-all {
  height: 36px;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #4a606b;
  text-align: center;
  flex-shrink: 0;
}
.footer,
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
}
.footer {
  align-self: stretch;
  gap: 76px;
  font-size: 24px;
  color: #135155;
  font-family: Inter;
}
.hero {
  width: 1251px;
  gap: 96px;
  font-size: 16px;
  color: #ffc51e;
  font-family: "Jeko DEMO";
}
.content,
.tentang-kami {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 27px 0 20px;
  max-width: 100%;
}
.tentang-kami {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 76px;
  gap: 48px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .component-12,
  .component-9 {
    flex: 1;
  }
  .component-13 {
    flex-wrap: wrap;
  }
  .safety,
  .values-description {
    flex: 1;
  }
  .f-a-q-items1,
  .f-a-q-items2,
  .f-a-q-items3,
  .f-a-q-items4,
  .values-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .values-grid {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .tentang-kami-inner {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  .tentang-cv-hasil {
    font-size: 32px;
  }
  .hero-content {
    gap: 28px;
  }
  .misi {
    font-size: 45px;
  }
  .component-12 {
    min-width: 100%;
  }
  .misi1 {
    font-size: 45px;
  }
  .component-9 {
    min-width: 100%;
  }
  .nilai-perusahaan-kami {
    font-size: 32px;
  }
  .safety,
  .values-description {
    min-width: 100%;
  }
  .values-grid {
    gap: 16px;
  }
  .pertanyaan-yang-sering {
    font-size: 32px;
  }
  .f-a-q-items {
    flex-wrap: wrap;
  }
  .f-a-q-list {
    gap: 16px;
  }
  .component-15 {
    gap: 16px;
    padding-bottom: 66px;
    box-sizing: border-box;
  }
  .values {
    gap: 40px;
  }
  .home-link {
    gap: 16px;
  }
  .contact-items {
    flex-wrap: wrap;
  }
  .footer-top {
    gap: 17px;
  }
  .footer {
    gap: 38px;
  }
  .hero {
    gap: 48px;
  }
  .tentang-kami {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .tentang-cv-hasil {
    font-size: 24px;
  }
  .misi,
  .misi1 {
    font-size: 34px;
  }
  .nilai-perusahaan-kami {
    font-size: 24px;
  }
  .iconlycurvedbulk2-user,
  .safety-icon {
    flex: 1;
  }
  .keselamatan-dan-kesehatan {
    font-size: 19px;
  }
  .safety {
    flex-wrap: wrap;
  }
  .integritas,
  .kepuasan-pelanggan,
  .kualitas {
    font-size: 19px;
  }
  .values-icons2 {
    flex: 1;
  }
  .inovasi {
    font-size: 19px;
  }
  .pertanyaan-yang-sering {
    font-size: 24px;
  }
  .values {
    gap: 20px;
  }
  .title {
    font-size: 19px;
    line-height: 26px;
  }
  .footer-nav {
    min-width: 100%;
  }
  .footer {
    gap: 19px;
  }
  .hero {
    gap: 24px;
  }
}
