body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.frame-child17,
.login-child {
  position: relative;
  max-width: 100%;
}
.login-child {
  height: 30px;
  width: 722px;
  background-color: #fff;
  display: none;
}
.frame-child17 {
  align-self: stretch;
  height: 1.1px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child18 {
  height: 1.1px;
  width: 125.5px;
  position: relative;
}
.vector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 1px;
}
.frame-child19 {
  height: 1.1px;
  width: 121.9px;
  position: relative;
}
.vector-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px;
}
.frame-child20 {
  height: 1.1px;
  width: 116.4px;
  position: relative;
}
.vector-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6px;
}
.frame-child21 {
  height: 1.1px;
  width: 110px;
  position: relative;
}
.vector-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 9px;
}
.frame-child22,
.vector-parent1 {
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
}
.vector-parent1 {
  top: 36.7px;
  left: 16.7px;
  width: 128.9px;
  height: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 1.7px;
  gap: 1.7px;
}
.frame-child22 {
  top: 54.1px;
  left: 101.1px;
  border-top: 1.1px solid #000;
  width: 45.6px;
  height: 1.1px;
}
.frame-child23,
.frame-child24,
.subtract-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frame-child24,
.subtract-icon2 {
  z-index: 2;
}
.frame-child24 {
  top: 18.1px;
  left: 17px;
  width: 27.5px;
  height: 31.4px;
  z-index: 3;
}
.frame-child25,
.frame-child26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.frame-child26 {
  top: 13.2px;
  left: 14.6px;
  width: 7.8px;
  height: 18.2px;
  z-index: 5;
}
.vector-parent3 {
  position: absolute;
  top: 18px;
  left: 17.1px;
  width: 37px;
  height: 31.5px;
}
.subtract-parent,
.vector-parent2 {
  position: absolute;
  top: 3.6px;
  left: 47.5px;
  width: 68.4px;
  height: 50.4px;
}
.vector-parent2 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cv-hasil-karya10 {
  position: absolute;
  top: 56.1px;
  left: 36.8px;
  display: inline-block;
  min-width: 89px;
  z-index: 1;
}
.frame-parent34 {
  height: 69.8px;
  width: 159.7px;
  position: relative;
}
.frame-wrapper9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.welcome-back {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-height: 69px;
  max-width: 100%;
}
.welcome-back-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 42px;
  box-sizing: border-box;
  max-width: 100%;
}
.silahkan-login-dengan {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
  color: #455a64;
}
.frame-parent33,
.frame-parent35 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent35 {
  gap: 6px;
  font-size: 48px;
  color: #171717;
  font-family: "Jeko DEMO";
}
.frame-parent33 {
  gap: 14.9px;
}
.email-address1 {
  color: #4a606b;
}
.span {
  color: #ec1c24;
}
.email-address,
.masukkan-email {
  font-family: Inter;
  font-size: 16px;
  position: relative;
  line-height: 26px;
  text-align: left;
}
.email-address {
  align-self: stretch;
  font-weight: 600;
}
.masukkan-email {
  width: 206px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 26px;
  color: #4a606b;
  display: flex;
  align-items: center;
  padding: 0;
}
.email-address-parent,
.masukkan-email-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.masukkan-email-wrapper {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.08));
  border: 1px solid #dedede;
  flex-direction: row;
  align-items: center;
  padding: 10px 8px;
}
.email-address-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.password1 {
  color: #4a606b;
}
.span1 {
  color: #ec1c24;
}
.masukkan-password,
.password {
  font-family: Inter;
  font-size: 16px;
  position: relative;
  line-height: 26px;
  text-align: left;
}
.password {
  align-self: stretch;
  font-weight: 600;
}
.masukkan-password {
  width: calc(100% - 47px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 26px;
  flex: 1;
  color: #4a606b;
  display: flex;
  align-items: center;
  min-width: 150px;
  max-width: calc(100% - 32px);
  padding: 0;
}
.eye-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent36,
.masukkan-password-parent,
.password-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.masukkan-password-parent {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.08));
  border: 1px solid #dedede;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px 10px 7px;
  gap: 8px;
}
.frame-parent36,
.password-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.frame-parent36 {
  border-left: 8px solid #ffc51e;
  box-sizing: border-box;
  justify-content: center;
  padding: 8px 4px 8px 20px;
  gap: 14px;
}
.checksquare {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.remember-me {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  font-family: Inter;
  color: #4a606b;
  text-align: left;
  display: inline-block;
  min-width: 119px;
}
.checksquare-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.forgot-password {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-family: Inter;
  color: #135155;
  text-align: left;
}
.frame-parent37 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.login1 {
  width: 43px;
  position: relative;
  font-size: 16px;
  font-weight: 800;
  font-family: "Jeko DEMO";
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 43px;
}
.login-wrapper {
  cursor: pointer;
  border: 0;
  padding: 12px 20px;
  background-color: #135155;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-wrapper:hover {
  background-color: #38787a;
}
.frame-parent32,
.login-form,
.login-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.login-form {
  margin: 0;
  align-self: stretch;
  align-items: flex-end;
  gap: 26px;
}
.frame-parent32,
.login-inner {
  align-items: flex-start;
  box-sizing: border-box;
}
.frame-parent32 {
  align-self: stretch;
  box-shadow: 0 24px 52px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  padding: 32.9px 24px 24px;
  gap: 40px;
}
.login-inner {
  width: 563px;
  padding: 121px 0 0;
  min-width: 563px;
}
.login-child1,
.login-child2,
.login-item {
  height: 72px;
  width: 173px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.08);
  display: none;
}
.login-child1,
.login-child2 {
  height: 30px;
  width: 218px;
}
.login-child2 {
  height: 192px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.04);
}
.frame-child27,
.frame-icon5 {
  position: relative;
  overflow: hidden;
}
.frame-child27 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.frame-icon5 {
  height: 19.7px;
  width: 19.7px;
  flex-shrink: 0;
  min-height: 20px;
}
.konstruksi-bangunan {
  flex: 1;
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
}
.frame-parent38,
.vector-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent38 {
  align-self: stretch;
  flex-direction: row;
  gap: 6.6px;
}
.vector-parent4 {
  height: 232.1px;
  width: 296px;
  margin: 0 !important;
  position: absolute;
  top: 279px;
  left: -37px;
  backdrop-filter: blur(46.04px);
  background-color: rgba(0, 0, 0, 0.12);
  flex-direction: column;
  padding: 13.2px 13px 13.1px;
  box-sizing: border-box;
  gap: 13.1px;
  z-index: 1;
}
.frame-child28,
.frame-icon6 {
  position: relative;
  overflow: hidden;
}
.frame-child28 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.frame-icon6 {
  height: 19.7px;
  width: 19.7px;
  flex-shrink: 0;
  min-height: 20px;
}
.desain-arsitektur {
  flex: 1;
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
}
.frame-parent39,
.vector-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent39 {
  align-self: stretch;
  flex-direction: row;
  gap: 6.6px;
}
.vector-parent5 {
  height: 232.1px;
  width: 296px;
  margin: 0 !important;
  position: absolute;
  top: 206px;
  right: -128px;
  backdrop-filter: blur(46.04px);
  background-color: rgba(0, 0, 0, 0.12);
  flex-direction: column;
  padding: 13.2px 13px 13.1px;
  box-sizing: border-box;
  gap: 13.1px;
  z-index: 2;
}
.frame-child29 {
  align-self: stretch;
  height: 864px;
  position: relative;
  background-color: #0f7c83;
  display: none;
}
.deep-nested-building-image-child {
  align-self: stretch;
  height: 72px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.08);
  z-index: 1;
}
.deep-nested-building-image {
  height: 139.1px;
  width: 173px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 173px;
}
.frame-child30,
.frame-icon7 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child30 {
  align-self: stretch;
  height: 172.7px;
  max-width: 100%;
  object-fit: cover;
}
.frame-icon7 {
  height: 19.7px;
  width: 19.7px;
  min-height: 20px;
}
.terdapat-perizinan-bangunan {
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
}
.frame-parent40 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.6px;
}
.nested-building-image,
.vector-parent6 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.vector-parent6 {
  flex: 1;
  backdrop-filter: blur(46.04px);
  background-color: rgba(0, 0, 0, 0.12);
  flex-direction: column;
  align-items: flex-start;
  padding: 13.2px 13px 13.1px;
  gap: 13.1px;
  min-width: 192px;
  z-index: 1;
}
.nested-building-image {
  width: 551.9px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 20px 0 0;
  gap: 62.9px;
  max-width: 100%;
}
.membangun-proyek-lebih {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-height: 138px;
  z-index: 2;
}
.layanan-perusahaan-kami {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  font-family: Inter;
  z-index: 2;
}
.membangun-proyek-lebih-mudah-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  max-width: 100%;
}
.frame-wrapper10,
.rectangle-group {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 43px 0 42px;
  font-size: 48px;
  font-family: "Jeko DEMO";
}
.rectangle-group {
  flex: 1;
  background-color: #0f7c83;
  flex-direction: column;
  padding: 29px 0 80px;
  gap: 281.9px;
  min-height: 864px;
}
.construction-content,
.construction-content-wrapper,
.login,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.construction-content {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  max-width: 100%;
}
.construction-content-wrapper,
.login {
  box-sizing: border-box;
}
.construction-content-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 0 0 0 37px;
  min-width: 492px;
  max-width: 100%;
  text-align: left;
  font-size: 16.4px;
  color: #fff;
  font-family: Inter;
}
.login {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 0 82px;
  gap: 38px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 10.2px;
  color: #000;
  font-family: "Times New Roman";
}
@media screen and (max-width: 1125px) {
  .login-inner {
    flex: 1;
  }
  .login {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .membangun-proyek-lebih,
  .welcome-back {
    font-size: 38px;
  }
}
@media screen and (max-width: 750px) {
  .welcome-back-wrapper {
    padding-left: 21px;
    padding-right: 21px;
    box-sizing: border-box;
  }
  .frame-parent32 {
    gap: 20px;
    padding-top: 21px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .login-inner {
    padding-top: 79px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .deep-nested-building-image {
    flex: 1;
  }
  .nested-building-image {
    flex-wrap: wrap;
    gap: 31px;
  }
  .frame-wrapper10 {
    padding-left: 21px;
    padding-right: 21px;
    box-sizing: border-box;
  }
  .rectangle-group {
    gap: 141px;
    padding-top: 20px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .construction-content-wrapper {
    min-width: 100%;
  }
  .login {
    gap: 19px;
  }
}
@media screen and (max-width: 450px) {
  .welcome-back {
    font-size: 29px;
  }
  .frame-parent37 {
    flex-wrap: wrap;
  }
  .nested-building-image {
    gap: 16px;
  }
  .membangun-proyek-lebih {
    font-size: 29px;
  }
  .rectangle-group {
    gap: 70px;
  }
}
